.homePage {
    padding: 30px;
    position: relative;
    background-image: 
        linear-gradient(180deg,rgba(71, 173, 231, 0.7) 25%, rgba(255, 227, 44, 0.7) 100%), 
        url("/images/tranh-thuy-mac.jpg");
    background-size: cover;
    background-position: top;
}